body {
  margin: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
}

.left_part {
  vertical-align: top;
  display: inline-block;
  width: 40%;
  height: 100%;
  background-color: chocolate;
}

.right_part {
  float: right;
  display: inline-block;
  width: 20%;
  height: 100%;
  background-color: cornflowerblue;
}

.left_part .icons {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: black;
  margin: 20px;
  border-radius: 50%;
}

.left_part .icons img {
  /* width: 40%; */
  height: 40%;
  display: block;
  margin: auto;
  margin-top: 31%;
}

.left_part .icons i {
  font-size: 70px;
  color: green;
  margin: 18px;
  margin-top: 12px;
}
