.mapa {
  width: 500px;
  height: 500px;
  border: 1px solid black;
}

.mapa {
  width: 500px;
  height: 500px;
  border: 1px solid black;
}

.mapa {
  width: 500px;
  height: 500px;
  border: 1px solid black;
}
